@model SmartCampus.Models.MakePost

<h2>Post Details</h2>
<div>
    <h3>@Model.Title</h3>
    <p>@Model.Description</p>
    <p>Category: @Model.Category.Name</p>
    <p>Link: <a href="@Model.Link" target="_blank">@Model.Link</a></p>
</div>

<a asp-action="ApproveIndex" asp-controller="Home">Back to List</a>
